.banner
	.container
		.banner__slider
			.banner__wrapper
				a.banner__link(href="#") стоит взглянуть
			.banner__wrapper
				a.banner__link(href="#") стоит взглянуть
			.banner__wrapper
				a.banner__link(href="#") стоит взглянуть
			.banner__wrapper
				a.banner__link(href="#") стоит взглянуть
			.banner__wrapper
				a.banner__link(href="#") стоит взглянуть