footer.footer
	.container
		.footer__wrap
			p.footer__text ООО "Вагант", официальный сайт
				br
				| юр. адрес: МО. г. Подольск, ул. Загородная, д.1
				br
				| Зарегистрирован Администрацией города Подольска от 14 февраля 1995 г. №690
			.footer__social
				ul.footer__list
					li.footer__item
						a.footer__link(href="#")
							i.fa.fa-vk
					li.footer__item
						a.footer__link(href="#")
							i.fa.fa-facebook
					li.footer__item
						a.footer__link(href="#")
							i.fa.fa-odnoklassniki