.offer
	.container
		h2.offer__title.block__title предложения тк "вагант"
		.offer__list
			.offer__item.offer__item--1
				img.offer__img(src="app/img/material.png" alt="фото стройматериалы")
				.offer__text стройматериалы
				a.offer__link(href="#") смотреть
			.offer__item.offer__item--2
				img.offer__img(src="app/img/mebel.png" alt="фото мебели")
				.offer__text мебель
				a.offer__link(href="#") смотреть
			.offer__item.offer__item--3
				img.offer__img(src="app/img/arenda.png" alt="фото аренды")
				.offer__text аренда
				a.offer__link(href="#") смотреть