.stock
	.container
		h2.stock__title.block__title акции в тк "вагант"
		.stock__row
			a.stock__item(href="#")
				p.stock__text 
					span выиграй поездку в римини
					| Совершай покупки в ТК вагант и получи возмонжость поехать в римини
			a.stock__item(href="#")
				p.stock__text 
					span выиграй поездку в римини
					| Совершай покупки в ТК вагант и получи возмонжость поехать в римини
			a.stock__item(href="#")
				p.stock__text 
					span выиграй поездку в римини
					| Совершай покупки в ТК вагант и получи возмонжость поехать в римини
			a.stock__item(href="#")
				p.stock__text 
					span выиграй поездку в римини
					| Совершай покупки в ТК вагант и получи возмонжость поехать в римини
		a.stock__link(href="#") смотреть все акции
