.video
	.container
		h2.video__title.block__title видео
		.video__row
			.video__block
				iframe(width='100%', src='https://www.youtube.com/embed/xFa2_PVMeDQ', frameborder='0', allowfullscreen='')
			.video__block
				iframe(width='100%', src='https://www.youtube.com/embed/xFa2_PVMeDQ', frameborder='0', allowfullscreen='')