.header__top {
	display: flex;
	justify-content: space-between;
	.icon {
		width: 60px;
		height: 60px;
	}
	@media (max-width: 960px) {
		.icon {
			width: 40px;
			height: 40px;
		}
	}
	@media (max-width: 700px) {
		flex-direction: column;
	}
}

.header__logo {
	width: 20%;
	background: url(../img/logo.svg) center center no-repeat;
	position: relative;
	z-index: 1;
	@media (max-width: 700px) {
		width: 100%;
		height: 100px;
		margin-bottom: 20px;
	}
}
.header__time {
	flex: 1;
	background: #EAC62D;
	position: relative;
	padding: 20px 0 20px 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&:before {
		content:"";
		display: block;
		height: 0px;
		width: 0px;
		position: absolute;
		top: -25px;
		left: -55px;
		border: 80px solid transparent;
		transform: rotate(-25deg);
		border-left-color: white;
		border-top-color: white;
	}
	&:after {
		content:"";
		display: block;
		height: 0px;
		width: 0px;
		position: absolute;
		bottom: -25px;
		right: -45px;
		border: 80px solid transparent;
		transform: rotate(160deg);
		border-left-color: white;
		border-top-color: white;
	}
	.icon {
		position: absolute;
		bottom: -8px;
		z-index: 0;
		left: 70px;
	}
	@media (max-width: 1200px) {
		padding: 10px 0 20px 80px;
		.icon {
			left: 35px;
		}
		&:before {
			left: -50px;
		}
		&:after {
			right: -40px;
			transform: rotate(155deg);
		}
	}
	@media (max-width: 960px) {
		padding: 10px 0 20px 80px;
		.icon {
			left: 35px;
		}
		&:before {
			top: -80px;
			left: -50px;
		}
		&:after {
			right: -40px;
		}
	}
	@media (max-width: 700px) {
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
		.icon {
			top: 20px;
			left: 20px;
		}
	}
}
.header__phone {
	width: 25%;
	position: relative;
	z-index: 1;
	padding: 20px 0 20px 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.icon {
		position: absolute;
		bottom: -8px;
		z-index: 0;
		left: 20px;
	}
	@media (max-width: 1200px) {
		.icon {
			left: 10px;	
		}
	}
	@media (max-width: 960px) {
		padding: 10px 0 20px 0px;
		.icon {
			left: -30px;
		}
	}
	@media (max-width: 700px) {
		width: 100%;
		padding-left: 80px;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
		.icon {
			top: 20px;
			left: 20px;
		}
	}
}
.header__img {
	width: 100%;
}

.header__text {
	display: block;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-size: 14px;
	&:last-child {
		margin-bottom: 0;
	}
	@media (max-width: 960px) {
		font-size: 12px;
	}
}

.header__text--bold {
	font-family: $daysFont;
	text-transform: none;
	font-size: 18px;
	@media (max-width: 960px) {
		font-size: 12px;
	}
}

.header__bottom {
	position: relative;
	z-index: 10;
	background: white;
	box-shadow: 0px 0px 20px -2px rgba(0,0,0,.75);
}
.menu {
	position: relative;
	z-index: 1;
}
.menu__list {
	display: flex;
	justify-content: space-between;
	@media(max-width: 700px) {
		display: none;
		position: absolute;
		flex-direction: column;
		width: 100%;
	}
	@media(max-width: 480px) {
		text-align: center;
	}
}
.menu__link {
	display: block;
	padding: 20px 30px;
	font-family: $daysFont;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 16px;
	@extend .trs;
	&:hover {
		transform: scale(1.1);
	}
	@media (max-width: 1200px) {
		padding: 15px 5px;
	}
	@media (max-width: 960px) {
		font-size: 12px;
	}
	@media(max-width: 700px) {
		background: white;
		width: 100%;
		padding: 15px 20px;
		font-size: 14px;
		&:hover {
			background: #f4f4f4;
			transform: none;
		}
	}
}

.menu__toggle {
	display: none;
	padding: 20px;
	font-size: 18px;
	font-family: $daysFont;
	font-weight: 500;
	cursor: pointer;
	justify-content: space-between;
	align-items: center;
	@extend .trs;
	@media(max-width: 700px) {
		display: flex;
	}
}

.menu__humburger {
	display: block;
	width: 25px;
	height: 3px;
	background: black;
	@extend .trs;
	&:before, &:after {
		content:"";
		width: 25px;
		height: 3px;
		display: block;
		background: black;
	}
	&:before {
		transform: translateY(-8px);
	}
	&:after {
		transform: translateY(5px);
	}
}

.menu__humburger--active {
	transform: rotate(-45deg);
	&:before {
		opacity: 0;
	}
	&:after {
		transform: rotate(90deg) translateX(-3px);
	}
}