.stock {
	margin-bottom: 30px;
}
.stock__row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.stock__item {
	background: url(../img/stock.png) center center no-repeat;
	background-size: cover;
	height: 350px;
	width: 49%;
	margin-bottom: 20px;
	position: relative;
	&:first-child {
		.stock__text {
			left: 0;
		}
	}
	&:last-child {
		.stock__text {
			right: 0;
		}
	}
	@media(max-width:700px) {
		width: 100%;
		margin-bottom: 20px;
		height: 250px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.stock__text {
	font-size: 16px;
	background: rgba(243,224,58,.75);
	padding: 15px 20px;
	width: 70%;
	line-height: 24px;
	position: absolute;
	bottom: 50px;
	span {
		display: block;
		font-family: $boldFont;
		font-size: 20px;
		margin-bottom: 30px;
		text-transform: uppercase;
	}
	@media(max-width:960px) {
		font-size: 14px;
		width: 100%;
		span {
			font-size: 16px;
			margin-bottom: 20px;
		}
	}
}

.stock__link {
	display: block;
	padding: 10px;
	width: fit-content;
	margin: 0 auto;
	text-align: center;
	font-family: $italicFont;
	font-size: 16px;
	text-decoration: underline;
	@extend .trs;
	&:hover {
		text-decoration: none;
	}
}