// Переменные

$mainFont: "OpenSansRegular", "Arial", sans-serif;
$boldFont: "OpenSansBold", "Arial", sans-serif;
$italicFont: "OpenSansItalic", "Arial", sans-serif;
$daysFont: "Days", "Arial", sans-serif;
$lintelFont: "Lintel", "Arial", sans-serif;