extends ../_template

block variables
  - var title = 'Home page'
  - var url_js = "app/js/app.js"
  - var url_css = "app/css/app.css"

block content
  include ../common/_header
  include ../common/_banner
  include ../common/_offer
  include ../common/_stock
  include ../common/_video
  include ../common/_footer